body{
                background-image: url("#{resource['icons/weather.jpg']}"); 
                background-size: cover;
  				background-repeat: no-repeat; 
    			background-attachment:fixed;         
            	}